*.tfstate
*.tfstate.*

crash.log
crash.*.log

.terraform/


override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json
!terraform.tfvars.example

.terraformrc
terraform.rc

*.pem
*.key
id_rsa
id_rsa.pub

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
